/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
ul.links li > a {
}

ul.links li {
  list-style-type: none;
  margin-left: 10px;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #fbfbfb;
}

body {
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  padding-bottom: 2em;
}

div.part {
  margin-bottom: 30px;
}

div.back {
  margin-bottom: 20px;
  text-align: left;
}

h1 {
  font-weight: 300;
  line-height: 1.2em;
  color: #A60800;
  font-size: 35px;
  font-family: 'Ubuntu';
}

p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: #00a;
}

a:hover   { color: #000; }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

div.post h2 {
  font-size: 36px;
  margin: 40px 0 20px 0;
}

div.post ol li {
  margin: 0 0 12px 6px;
}

div.post a {
  text-decoration: underline;
}

div.post img {
  margin: 40px auto;
  max-width: 70%;
  display: block;
  border: 1px solid #000;
}

.photo {
  width: 90%;
  margin: 20px 0 5px 15px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
}

h1.section-title {
  font-family: 'Ubuntu';
  color: #A60800;
  margin: 10px 0 15px 0;
}

div.people, div.projects {
  border-top: 1px solid #bbb;
  margin: 15px 0 70px 0;
  padding-top: 15px;
}

div.project-bit {
  margin-bottom: 25px;
}

div.project-title {
  font-size: 24px;
}

div.project-description {
  font-size: 16px;
  color: #777;
  line-height: 1.4em;
}

h1.title {
  font-size: 64px;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h3.caption {
  margin: 0;
}

h3.title {
  font-size: 64px;
}

div.brand {
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

.site {
  font-size: 115%;
  margin: 1em auto 2em auto;
  line-height: 1.5em;
  width: 1110px;
  border-bottom: 1px solid #ddd;
}

div.twitter {
  margin: 15px 0;
}

div.sidebar-brand {
  margin-bottom: 20px;
}

h1.sidebar-title {
  color: #1D7373;
}

div.right {
  width: 720px;
  float: right;
}

div.post-date {
  line-height: 1.3em;
  font-size: 14px;
  color: #999;
}

div.post-caption {
  font-size: 15px;
  line-height: 1.3em;
  color: #666;
}

div.post-title {
  line-height: 1.3em;
  font-size: 20px;
}

div.post-container {
  text-align: left;
}

div.post-bit {
  margin-bottom: 15px;
  text-align: left;
}


div.people > ul > li {
  list-style-type: none;
  font-size: 24px;
  line-height: 1.1em;
  margin-bottom: 12px;
}

div.people > ul > li > div {
  font-size: 16px;
  color: #777;
}

.header {
  padding: 0 10px;
  width: 330px;
  display: inline-block;
  float: left;
  text-align: left;
}

.header a {
  text-decoration: none;
}

.content-left {
  text-align: left;
  float: left;
  display: inline-block;
  width: 350px;
}

.content-right {
  text-align: left;
  float: right;
  display: inline;
  width: 350px;
}


.title {
  display: inline-block;
  margin-bottom: 0;
}

.caption {
  color: #999;
}

.title a {
  color: #1D7373;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
  margin: 6px 0 30px 0;
}

.footer {
  font-size: 80%;
  color: #999;
  margin: 0.2em 0 1em 0;
  float: right;
  display: block;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

div.who-am-i {
  font-size: 16px;
  line-height: 1.4em;
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
  color: #222;
}

.view-all {
  color: #339;
  font-size: 110%;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

@media (max-width: 1150px) {
  .site {
    text-align: justify;
    width: 100%;
  }

  div.right {
    margin-left: 40px;
    width: 350px;
    float: left;
  }

  div.header {
    float: left;
  }

  div.site {
    padding: 0 25px;
  }

  .footer {
    float: left;
  }
}

@media (max-width: 750px) {
  div.header {
    float: none;
    width: 90%;
    margin: 0 auto 20px auto;
  }

  div.right {
    width: 90%;
    margin: 0 auto;
  }

  .content-left, .content-right {
    float: none;
  }

  body {
    width: 100%;
  }

  div.site {
    width: 100%;
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.clearer {
  clear: both;
}
