<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <!-- syntax highlighting css -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43706681-1', 'sharpfret.com');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="site">
    <div class="right">
      {{ content }}
    </div>
    <div class="header">
      <div class="brand">
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <h3 class="caption">A real human bean</h3>
      </div>
      <img src="/img/photo.jpg" class="photo">
      <div class="who-am-i">
        <p>
          I'm a fifth-year undergraduate at UC Irvine studying computer science.
          I specialize in web development and shiny things.
        </p>
        <p>
          I'm currently a student programmer working for <a href="http://eee.uci.edu" target="_blank">EEE @ UCI</a>.
        </p>
        <p>
          I'm an avid blues guitar player. My favorite guitar player is John Mayer,
          especially when he was still active with the <a href="http://www.youtube.com/watch?v=GQkO3SGB3So" target="_blank">Trio</a>.
          I work on weekly guitar improvisations.
        </p>
        <p>
          Take a gander at my <a href="https://www.dropbox.com/s/l5qe4ni0mk7ck7s/Resume.pdf" target="_blank">resume</a>.
          Read through my code on <a href="https://github.com/blaisebaileyfinnegan" target="_blank">GitHub</a>. Also, be sure to check out my <a href="/#youfool">blog</a> while you're here!
        </p>

        <p>
          <a href="mailto:michael.vu@sharpfret.com">
            Contact me.
          </a>
        </p>
        <p>
          <a href="https://www.facebook.com/michaelqvu" target="_blank">
            Facebook me.
          </a>
        </p>
      </div>
      <div class="twitter">
        <div class="sidebar-brand">
          <h1 class="sidebar-title">
            Twitter
          </h1>
          <h3 class="caption">I'm a tweeter</h3>
        </div>
        <a class="twitter-timeline" href="https://twitter.com/mikeqvu" data-widget-id="401146575860146176">Tweets by @mikeqvu</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <div class="clearer">
      <!-- -->
    </div>
    <div class="footer">
      © Website design by Michael Vu 2013
    </div>
  </div>
</body>
</html>
